<!doctype html>
<html>
    <nav>
        <a href= '/' > Home </a> |
        
        <a href= '/newblog' > Create a New Blog Entry </a> |

        <a href= "/blog" > All Blogz </a> |
        
        <a href= "/login" > Login </a> |

        <a href= "/logout" > Logout </a> 
        
        
    </nav>
    
    <head>
        <style>
            h1{
                font-size: 2cm;
                text-align: center;
            }
            .error{
                color: red;
            }
            
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>